{% extends 'base.html' %}
{% load static %}
{% block cssnya %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css">
{% endblock %}
{% block title %}
    Program donasi
{% endblock %}

{% block content %}
    <div class="main">
        <div class="container">
            <br>
            {% if ob %}
            {% for i in ob %}
            <div class="program">
                <h1 style="text-align: center"> {{ i.title }} </h1>
                <br>
                <p> {{ i.detail }} </p>
                <p style="text-align: center"> Total donasi <br> Rp{{ i.amount }} </p>
                {% if user.is_authenticated %}
                    <a href="/program_donasi/{{i.slug}}">Donasi</a>
                {% else %}
                    <a href="/login/">Donasi</a>
                {% endif %}
            </div>
            {% endfor %}
            {% else %}
            <p>No Programs yet</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
