{% extends 'base.html' %}
{% load static %}
{% block cssnya %}
    <link rel="stylesheet" href="{% static 'css/reg.css' %}" type="text/css">
    {% endblock %}
{% block title %}
  Login
{% endblock %}

{% block content %}
<div>
    <main>
        <div class = "site-entrance">
            <div class="d-flex justify-content-center">
                    {% if user.is_authenticated %}
                    <div class = "div1">
                            <h4 class= "judul">Anda sudah login</h4>
                        </div>
                    {% else %}
                    <div class = "div1">
                            <h4 class= "judul">Selamat Datang!</h4>
                            <p>Login untuk donasi dengan SinarPerak.</p>
                            <div class="d-flex align-items-center justify-content-center">
                                <a style="align-self:center" href="{% url 'social:begin' 'google-oauth2' %}">
                                    <button style="align-self:center" type="submit" class="save-btn">Login with Google</button>
                                </a>
                            </div>
                    </div>
                    {% endif %}
                
            </div>
        </div>
    </main>
</div>
{% endblock %}

