{% extends 'base.html' %}
{% load static %}
{% block cssnya %}
    <link rel="stylesheet" href="{% static 'css/reg.css' %}" type="text/css">
    {% endblock %}
{% block title %}
  Daftar
{% endblock %}

{% block content %}
<div>
    <main>
        <div class = "site-entrance">
            <div class="d-flex justify-content-center">
                <div class = "div1">
                    <h4 class= "judul">Selamat Datang!</h4>
                    <p>Daftar untuk bergabung dengan SinarPerak.</p>
                    {% for message in messages %}
                    <div class="alert alert-danger alert-dismissible" role="alert" id="django-messages">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-right: 15px;">
                        <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                    {% endfor %}
                    <form method="POST" class="post-form" action=""id="form1">{% csrf_token %}
                        {% for obj in form %}
                            {{obj}}
                        {% endfor %}
                        <button style="align-self:center" type="submit" class="save-btn" form="form1">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}
