{% extends 'base.html' %}

{% block title %}
Profile
{% endblock %}

{% block content %}
<div class="row mt-3">
    <div class="col-md-5 order-2 order-md-1 ml-2">
        <h3 class="mb-md-3">Recent Comments</h3>
        <div id="comments">
            {% if comments %}
                {% for comment in comments %}
                    <div class="row">
                        <div class="col-md-4">
                        <img src="http://www.eurogeosurveys.org/wp-content/uploads/2014/02/default_profile_pic.jpg" height ="30px"alt="">
                        {{comment.username}} <br>
                        </div>
                        <div class="col-md-6">
                        <small>On {{comment.added}} </small> <br>
                        "{{comment.comment}}"
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                {% endfor %}
            {% else %}
            No Comments Available
            {% endif %}
        </div>
    </div>
    <div class="col-md-5 order-1 order-md-2 text-center">
        <div id="alert" class=""></div>
        {% if user.is_authenticated %}
        <form id="commentForm" class="form-group ml-2 mr-2">
            {% csrf_token %}
            <input id="username" type="hidden" value="{{user.username}}">
            <textarea id="commentArea"  class="form-control" rows="10" type="text" placeholder="Berikan pendapat anda terhadap layanan kami"></textarea>
            <button type="submit" id="submitBtn" class="btn btn-primary mt-3">Submit</button>
        </form>
        <br><br>
        <div class="about-text">
            <h1>About us</h1>
            <p>Sinar Perak adalah tempat di mana anda dapat mendonasikan
                bantuan, kami dapat menjamin donasi yang anda berikan akan 
                sampai ke yang membutuhkan. <br>Kami tunggu donasi anda, 
                sesungguhnya sebesar apapun bantuan yang anda berikan, 
                akan berharga bagi kami dan mereka.
            </p>
        </div>  
        {% else %}
            <div class="about-text">
                <h1>About us</h1>
                <p>Sinar Perak adalah tempat di mana anda dapat mendonasikan
                    bantuan, kami dapat menjamin donasi yang anda berikan akan 
                    sampai ke yang membutuhkan. <br>Kami tunggu donasi anda, 
                    sesungguhnya sebesar apapun bantuan yang anda berikan, 
                    akan berharga bagi kami dan mereka.
                </p>
            </div>
        {% endif %}
    </div>
</div>

<style>
    .about-text {
        line-height: 26pt;
        margin-top: 20px;
        border-style: solid;
        border-radius: 10px;
        border-width: 13px;
        border-color: #8FDADF;
        background-color: #FFF7F7;
        padding: 20px 20px;
        /* width: 600px; */
        font-size: 13pt
    }
</style>
{% endblock %}
