{% extends "base.html" %}
{% load static %}

{% block title %} Donation {% endblock title %}

{% block content %}
<div class=container>
    <div class="row">
        <div class="col-sm-6">
            {% if messages %}
                <div class="alert alert-{{messages.tags}}">
                    {{messages.message}}
                </div>
            {% endif %}
            <div class=container>
                <form method='POST'>
                    {% csrf_token %}
                        <fieldset class="form-group">
                            {{form}}
                        <button type="submit" class="btn btn-primary">submit</button>
                    </fieldset>
                </form>
            </div>
        </div>

        <div class="col-sm-6">
            <div class = "well">
                {% for i in donatur %}
                        <div class="well">
                            {% if i.asAnonymous %}
                                <li>Anonim mendonasikan Rp.{{i.donationAmount}}</li>
                            {% else %}
                                <li>{{i.donorName}} mendonasikan Rp.{{i.donationAmount}}</li>
                            {% endif %}
                        </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock content %}