{% extends "base.html" %}
{% load static %}

{% block title %} Donation {% endblock title %}

{% block content %}
    <div class=container>
        <div class="well">
            <h1>Hello, {{nama}}</h1>
            <br>
            <br>
            <h2>Program you've donanted to:</h2>
            {% for i in donasi %}
                <div class="well">
                    <li>mendonasikan Rp.{{i.donationAmount}} ke program {{i.programName}}</li>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock content %}