{% extends 'base.html' %}

{% block title %}
{{intstance.title}}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="img-thumbnail" style="max-width: 90vw;">
            <img class="img-fluid" src="{{instance.image_url}}" style="width: 100%;"></img> <br>

            <p class="h1 text-center">{{instance.title}}</h1> <p>
            <small>Added {{instance.added}}</small> <br>
            {{instance.content}}
            <br>
            <br>
            <h6>Updated: {{instance.updated}}</h6>

        </div>

</div>
</div>
{% endblock %}
