{% extends "base.html" %}

{% block title %}
Berita
{% endblock %}

{% block content %}
<div class="container-fluid h-100">
    <div class="row">
        <div class="col-md-9 style="max-width: 80vwpx;" >
            <p class="mt-3" style="font-size: 24px;">Berita</p>
            {% if list %}
                <div id="carouselExampleControls" class="carousel slide img-thumbnail" data-ride="carousel" >
                  <div class="carousel-inner">
                        <div class="carousel-item active" >
                            <a  href="{{list.0.get_absolute_url}}" style="max-width: 80vwpx;">
                                <img class="d-block w-100 img-fluid" src="{{list.0.image_url}}" style="width:100%;">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 style="color: #000000; font-style: Segoe UI; background-color: white; opacity: 100%;">{{list.0.title}}</h5>
                                  </div>
                            </a>
                        </div>
                        <div class="carousel-item ">
                            <a href="{{list.1.get_absolute_url}}" style="max-width: 80vwpx;">
                                <img class="d-block w-100 img-fluid" src="{{list.1.image_url}}" style="width:100%;" alt="No Image">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 style="color: #000000; font-style: Segoe UI; background-color: white;">{{list.1.title}}</h5>
                                  </div>
                            </a>
                        </div>
                        <div class="carousel-item ">
                            <a href="{{list.2.get_absolute_url}}" style="max-width: 80vwpx;">
                                <img class="d-block w-100 img-fluid" src="{{list.2.image_url}}" style="width:100%;" alt="No Image">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 style="color: #000000; font-style: Segoe UI; background-color: white;">{{list.2.title}}</h5>
                                  </div>
                            </a>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            {% else %}
                Tidak ada berita yang tersedia
            {% endif %}
        </div>
        <div class="col-md-3 text-center">
            <p class="h3 mt-5">Berita Terbaru</p>
            {% if query %}
                <ul class="list-group">
                    {% for obj in query %}
                        <li class="list-group-item"><a href="{{obj.get_absolute_url}}"><h6>{{obj.title}}</h6></a><p><small>Added: {{obj.added|timesince}} ago</small></p></li>
                    {% endfor %}

                    <div class="pagination text-center">
                        <span class="step-links">
                            {% if query.has_previous %}
                                <a href="?page=1"> first</a>
                                <a href="?page={{ query.previous_page_number }}">previous</a>
                            {% endif %}

                            <span class="current text-center">
                               Page {{ query.number }} of {{ query.paginator.num_pages }}
                            </span>

                            {% if query.has_next %}
                                <a href="?page={{ query.next_page_number }}">next</a>
                                <a href="?page={{ query.paginator.num_pages }}">last </a>
                            {% endif %}
                        </span>
                    </div>
                </ul>
            {% else %}
                Belum ada berita baru
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
