{% load staticfiles %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <link href='https://fonts.googleapis.com/css?family=Niramit' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://static.thenounproject.com/png/29964-200.png">
    {% block cssnya %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>
        {% block title %}
        {% endblock %}
    </title>
  </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light color">
        <div style="width:100%">
            <a class="navbar-brand" href="/profile/" id = "brands">SinarPerak</a>
            <div class="float-md-right float-none">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto btn-group btn-group-toggle">
                        {% if user.is_authenticated %}
                        <li class="profile-button">
                            <a class="nav-link" href="/profil/{{user.username}} ">Hello, {{ user.username }}</a>
                        </li>
                        {% endif %}
                        <li class="nav-button">
                            <a class="nav-link" href="/berita/">Berita</a>
                        </li>
                        <li class="nav-button">
                            <a class="nav-link" href="/program_donasi/">Donasi</a>    
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-button">
                            <a class="nav-link " href="/logout/">logout</a>
                        </li>
                        {% else %}
                        <li class="nav-button">
                            <a class="nav-link " href="/login/">Login</a>
                        </li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery-1.12.4.js' %}" ></script>
    <script src="{% static 'js/jquery-ui.js' %}" ></script>
    <script src="{% static 'js/profile.js' %}"></script>
</body>
</html>
