/* 
Color palette:
 - #C0F3F0 -> blue lighter
 - #8FDADF -> blue light
 - #FFF7F7 -> white but not white enough
 - #656D6D -> grey
*/

body {
    background-color: #C0F3F0;}

.color {
    background: #8FDADF
}

.navbar-brand {
	font-weight: bolder;
	font-size: 26pt;
	color: #FFF7F7;
	vertical-align: middle;
}

.nav-button a {
	text-decoration: none;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bold;
	background: #FFF7F7;
	border-style: solid;
	border-color: #FFF7F7;
	padding: 10px 10px;
	border-radius: 10px;
	font-size: 15pt;
	vertical-align: middle;
	text-align: center;
	/* width: 100% */
}

.nav-button a:hover {
	text-decoration: none;
	margin-left: 10px;
	margin-right: 10px;
	font-weight: bold;
	background: #FFF7F7;
	border-style: solid;
	border-color: #656D6D;
	padding: 10px 10px;
	border-radius: 10px;
	font-size: 15pt;
}

.profile-button {
	text-decoration: none;
	margin-left: 10px;
	margin-right: 10px;
	font-weight: bold;
	background:transparent;
	padding: 10px 10px;
	border-radius: 0px;
	font-size: 15pt;
}

#navbutton
{
    background-color: #FFF7F7;
    color: #666D6D;
    background-image: none;
    border-color: #8FDADF;
    margin-right: 5px
}

#brands {
	font-size: 36px;
	font-family: 'Niramit';
}

.navbar-brand {
	font-weight: bolder;
	font-size: 26pt;
	color: #FFF7F7;
	vertical-align: middle;
}

.nav-button a {
	text-decoration: none;
	margin-left: 10px;
	margin-right: 10px;
	font-weight: bold;
	background: #FFF7F7;
	border-style: solid;
	border-color: #FFF7F7;
	padding: 10px 10px;
	border-radius: 10px;
	font-size: 15pt;
	vertical-align: middle;
	/* width: 100% */
}

.nav-button a:hover {
	text-decoration: none;
	margin-left: 10px;
	margin-right: 10px;
	font-weight: bold;
	background: #FFF7F7;
	border-style: solid;
	border-color: #FFF7F7;
	padding: 10px 10px;
	border-radius: 10px;
	font-size: 15pt;
}