* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #C0F3F0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Container section */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

@media only screen and (max-width: 400px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 7px;
        width: 100%;
    }
}

.program {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 26pt;
    border-style: solid;
    border-radius: 10px;
    border-color: #8FDADF;
    background-color: #FFF7F7;
    padding: 20px 20px;
    margin-top: 4%;
    margin-left: 2%;
    margin-right: 2%;
    max-width: 400px;
    border-width: 13px;
}

.program a {
    padding: 10px 10px;
    border-radius: 10px;
    text-decoration: none;
    background-color: grey;
    border-style: solid;
    border-color: grey;
    color: #FFF7F7;
    font-weight: bold;
}

.program a:hover {
    padding: 10px 10px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #FFF7F7;
    color: grey;
    font-weight: bold;
}

@media only screen and (max-width: 400px) {
    .program {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 17pt;
        font-size: 10pt;
        border-style: solid;
        border-radius: 10px;
        border-color: #8FDADF;
        background-color: #FFF7F7;
        padding: 13px 13px;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 2%;
        margin-right: 2%;
        max-width: 400px;
        border-width: 10px;
    }
    
    .program a {
        padding: 10px 10px;
        border-radius: 10px;
        text-decoration: none;
        background-color: grey;
        border-style: solid;
        border-color: grey;
        color: #FFF7F7;
        font-weight: bold;
    }
    
    .program a:hover {
        padding: 10px 10px;
        border-radius: 10px;
        text-decoration: none;
        background-color: #FFF7F7;
        color: grey;
        font-weight: bold;
    }

}

