/* 
Color palette:
 - #C0F3F0 -> blue lighter
 - #8FDADF -> blue light
 - #FFF7F7 -> white but not white enough
 - #656D6D -> grey
*/

input[type=text], select, textArea {
    padding: 12px 20px;
    margin-top: 10px;
    box-shadow: black;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=date], select, textArea {
    padding: 12px 20px;
    margin-top: 10px;
    box-shadow: black;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select, textArea {
    padding: 12px 20px;
    margin-top: 10px;
    box-shadow: black;
    border-radius: 4px;
    box-sizing: border-box;
}

.judul {
    font-weight: bolder;
    text-align: center;
    color: #046D74;
    font-size: 20pt;
}

.div1 {
    margin-top: 4%;
    margin-left: 20%;
    margin-right: 20%;
    width: 400px;
    height: max-content;
    padding: 20px 20px;
    border-style: solid;
    background-color: #FFF7F7;
    border-color: #8FDADF;
    border-radius: 10%;
    border-width: 10px;
}

.div1 p {
    text-align: center;
    color: #046D74;
    font-size: 15pt;
}

.div1 form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.save-btn {
    margin-top: 10px;
    background-color: #9AF3D3;
    color: black;
    border-style: none;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 10px;
}

.save-btn:hover {
    margin-top: 10px;
    background-color: #656D6D;
    color: #FFF7F7;
    border-style: none;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 10px;
}

@media only screen and (max-width:400px) {
    .div1 {
        margin-top: 7%;
        margin-left: 10%;
        margin-right: 10%;
        width: 400px;
        height: max-content;
        padding: 20px 20px;
        border-style: solid;
        background-color: #FFF7F7;
        border-color: #8FDADF;
        border-radius: 10px;
        border-width: 10px;
    }
}